.header-contents button {
    font-size: 15px;
    font-weight: 300;
}
.wrapper {
  padding: 40px 20px;
}
.wrapper .side-nav {
  background: #b2bed4;
  margin-right: 10px;
}
.main-content {
  min-height: 400px;
}
.header-contents button:focus {
    outline: None;
}
.checkbox input[type=checkbox] {
  margin-right: 5px;
}
